<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
      <div class="container">
        <div class="card" th:each="order : ${orders}">
            <div class="card-header" th:text="${order.nameProduct}">Products name</div>

            <div class="card-body">
                <div classs="row">

                <div class="col-6">
                <div>Price: <span th:text="${order.negotiatingPrice}">99,90</span></div>
                <div>Delivery date: <span th:text="${order.deliveryDate}">24/12/2021</span></div>

                <div>Product</div>
                <div> <input class="form-control" th:value="${order.urlProduct}" value="url do product"/></div>

                <div>Description</div>
                <div>
                    <textarea th:text="${order.description}">Order description</textarea>
                </div>
                        <div class="col-6">
                <div>
                    <img class="img-thumbnail" th:src="${order.urlImage}"src=""/>
                    </div>
                   </div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </body>
</html>